.loader {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  color: #2c3e50;
  font-size: 2rem;
  margin-top: 30px;
}

.loader-anim {
  width: 200px;
  aspect-ratio: 1;
  border-radius: 50%;
  padding: 3px;
  background:
    radial-gradient(farthest-side, #00bc77 95%, #0000) 50% 0/30px 30px no-repeat,
    radial-gradient(
        farthest-side,
        #0000 calc(100% - 20px),
        #00bc77 calc(100% - 20px)
      )
      content-box;
  animation: l6 500ms infinite;
}
@keyframes l6 {
  to {
    transform: rotate(1turn);
  }
}
