.error[data-error]::after {
  content: attr(data-error);
  font-size: 10px;
  color: var(--color-error);
  display: block;
  margin-top: 7px;
  margin-bottom: 7px;
  text-align: left;
  line-height: 0.3;
  opacity: 0;
  transition: 0.3s;
}

.error[data-error-visible="true"]::after {
  opacity: 1;
}

input::placeholder {
  color: var(--color-mouse);
}
