.data-table table {
  border-collapse: collapse;
  width: 100%;
  font-size: small;
}

.data-table caption {
  caption-side: bottom;
  padding: 10px;
  font-weight: bold;
}

.data-table thead {
  border-bottom: 2px solid #6e8711;
}

.data-table th,
.data-table td {
  border-bottom: 1px solid #e5e7eb;
  padding: 8px 10px;
}

.data-table td:last-of-type {
  text-align: center;
}

.data-table tbody > tr:nth-of-type(even) {
  background-color: #e5e7eb;
}

.data-table {
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow-x: auto;
}

.data-table .title {
  font-size: medium;
  font-weight: bold;
  margin-bottom: 1rem;
  text-align: center;
}

.data-table .fa {
  color: #6e8711;
  cursor: pointer;
  font-size: x-small;
}

@media (min-width: 640px) {
  .data-table .title {
    font-size: large;
  }
  .data-table table {
    font-size: medium;
  }
}

@media (min-width: 1024px) {
  .data-table .title {
    font-size: x-large;
    margin-bottom: 2.5rem;
  }
  .data-table .fa {
    font-size: medium;
  }
  .data-table table {
    font-size: large;
  }
}
