@import "tailwindcss";
@import "tw-animate-css";
/* Import de votre module CSS personnalisé */

@import "../components/InputWithError/InputWithError.css";
@import "../components/SelectWithError/SelectwithError.css";
@import "../components/Loading/Loading.css";
@import "../components/ui/shadcn.css";

@font-face {
  font-family: "Raleway-variable";
<<<<<<< HEAD
  src: url("./Raleway-VariableFont_wght.ttf") format("truetype");
=======
  src: url("./Raleway-Regular.ttf") format("truetype");
>>>>>>> edc8215 (🔧 config: configure for built app preview)
  font-display: swap;
}

@theme {
  --font-raleway:
    "Raleway-variable", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

  --color-green-apple: #93ad19;
  --color-green-meadow: #6e8711;
  --color-green-moss: #5a6f07;
  --color-cream: #fffbe9;
  --color-anthracite: #212121;
  --color-mouse: #747474;
  --color-error: #910000;
  --color-error-pale: rgba(158, 17, 0, 0.6);
}

html,
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  background-color: var(--color-cream);
  font-family: var(--font-raleway);
  font-size: 16px;
  font-weight: 400;
  color: var(--color-anthracite);
  width: 100%;
  min-height: 100dvh;
}

body .dark {
  background-color: var(--color-anthracite);
  color: var(--color-cream);
}

.body-dark {
  background-color: var(--color-anthracite);
  color: var(--color-cream);
}
